<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Test Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png"/>
		<style>
			* {
				box-sizing: border-box;
			}

			/* Create three equal columns that floats next to each other */
			.column {
				width: 380px;
				margin: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 10px;
				background-color: #333435;
				text-align: center;
				color: white;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: 20px;
			}

			.column p {
				margin-bottom: 0px;
			}

			.column p.time {
				font-size: 10px;
				line-height: 15px;
			}

			.row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}
			.settings-button {
				float: right;
			}
			.modalDialog {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(0, 0, 0, 0.8);
				z-index: 99999;
				opacity:0;
				-webkit-transition: opacity 400ms ease-in;
				-moz-transition: opacity 400ms ease-in;
				transition: opacity 400ms ease-in;
				pointer-events: none;
			}
			.modalDialog:target {
				opacity:1;
				pointer-events: auto;
			}
			.modalDialog > div {
				width: 500px;
				position: relative;
				margin: 10% auto;
				padding: 5px 20px 13px 20px;
				border-radius: 10px;
				background: #d3d3d3	;
			}
			.closeWindow {
				background: #606061;
				color: #FFFFFF;
				line-height: 25px;
				position: absolute;
				right: -12px;
				text-align: center;
				top: -10px;
				width: 24px;
				text-decoration: none;
				font-weight: bold;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				border-radius: 12px;
				-moz-box-shadow: 1px 1px 3px #000;
				-webkit-box-shadow: 1px 1px 3px #000;
				box-shadow: 1px 1px 3px #000;
			}
			.closeWindow:hover {
				background: #00d9ff;
			}

			.box-icon {
				border-radius: 50%;
				width: 100px;
				height: 100px;
				color: white;
				border: 5px solid
			}

			.large-stand-out {
				color: #fc1480;
				font-size: 45px;
				font-family: Georgia, serif;
				line-height: 100%;
				margin-top: -10px;
			}

			/* Slider */
			.switch {
				position: relative;
				display: inline-block;
				width: 60px;
				height: 34px;
				margin: 0px;
			}
	
			.switch input {display:none;}
	
			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: .4s;
				transition: .4s;
			}
	
			.slider:before {
				position: absolute;
				content: "";
				height: 26px;
				width: 26px;
				left: 4px;
				bottom: 4px;
				background-color: white;
				-webkit-transition: .4s;
				transition: .4s;
			}
	
			input:checked + .slider {
				background-color: #2196F3;
			}
	
			input:focus + .slider {
				box-shadow: 0 0 1px #2196F3;
			}
	
			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}
			.slider.round {
				border-radius: 34px;
			}
	
			.slider.round:before {
				border-radius: 50%;
			}
		
		</style>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

		<script>
			var since = "<%= since || undefined %>";
			var topGames = [
				<% for(var i=0; i < topGames.length; i++) { %>
						{game: "<%= topGames[i].game %>", time: "<%= topGames[i].time %>", iconURL: "<%= topGames[i].iconURL %>"},
				<% }%>
			];
			var topDays = [
				<% for(var i=0; i < topDays.length; i++) { %>
						{day: "<%= topDays[i].day %>", time: "<%= topDays[i].time %>"},
				<% }%>
			];
		</script>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include ../partials/nav %>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2><%= user.username %>'s profile</h2>
						</header>
						<section class="wrapper style5" style="padding-top: 3em;">
							<div class="inner">
							<section style="position: relative">
								<% if(userInfo && userInfo.id == user.id) { %>
									<p>Welcome back to your profile, <%= userInfo.username %>!</p>
								<% } %>
									<div style="display: flex; align-items: flex-start; margin-bottom: 10px;">
										<% if(userInfo && userInfo.id == user.id) { %>
										<div style="margin-right: 30px;">
											<div style="margin-bottom: 10px;">
												<p style="margin-bottom: 0px"><strong>Profile visibility:</strong></p>
											</div>
											<div style="display: flex; align-items: center;">
												Private&nbsp;<i class="fa fa-lock" id="loadingSpinner"></i>&nbsp;
												<label class="switch">
													<input id="enablePreview" type="checkbox" onchange="setPrivacy(this.checked)" checked>
													<span class="slider round"></span>
												</label>
												&nbsp;<i class="fa fa-globe" id="loadingSpinner"></i>&nbsp;Public
											</div>
										</div>
										<% } %>
										<div style="margin-right: 30px">
										<p style="margin-bottom: 0px"><strong>Select filter:</strong></p>
											<form action="">
												<select name="select" onchange="this.form.submit()" id="selectFilter">
													<option value="everything">Include everything</option>
													<option value="noSoftware">Exclude approved software</option>
													<option value="noGames">Exclude approved games</option>
													<option value="gamesOnly">Only include approved games</option>
													<option value="softwareOnly">Only include approved software</option>
												</select>
											</form>
										</div>
										<div style="margin-right: 30px">
										<p style="margin-bottom: 0px"><strong>Since filter:</strong></p>
											<form action="">
												<input type="date" name="since" style="color: black" onchange="this.form.submit()">
												<script>
													var today = new Date().toISOString().split('T')[0];
													var input = document.getElementsByName("since")[0];
													input.setAttribute('max', today);
													input.value = since;
													$("#selectFilter > option").each(function() {
														if(this.value == "<%= selectFilter %>") {
															this.defaultSelected = true;
														}
													})
												</script>
											</form>
										</div>
										
										
										
									</div>
									<script>
										<% if(private) { %>
											$("#enablePreview").prop("checked", false);
										<% } %>
										function setPrivacy(val) {
											var private = true;
											if(val) private = false;
											$.ajax({
												url : "/set-privacy",
												type: "POST",
												data: $.param({private: private})
											});
										}
									</script>
									
								
								
								<!-- Displaying the user info/playtime data -->
								<div class="row">
									<div class="column">
										<div class="box-icon">
											<% if(user.avatar) { %>
												<img src="<%= `https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.png` %>" style="width: 90px; border-radius: 50%">
											<% } else {  %>
												<img src="https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/05/9c/af/059caf3b-115a-1fca-1419-89ec1463d0ab/source/1200x630bb.jpg" style="width: 90px; border-radius: 50%">
											<% } %>
										</div>
										<div style="margin-left: 10px">
											<p style="font-size: 28px;"><%=user.username%><span style="font-size: 17px;">#<%=user.discriminator%></span></p>
										</div>
										
									</div>
									<div class="column">
										<div class="box-icon" style="background: linear-gradient(60deg, red,blue);">
											<i class="icon fa-gamepad" style="font-size: 70px; line-height: 83px;"></i>
										</div>
										<div style="flex: 1">
											<p style="font-size: 15px;">Total games played:</p>
											<p class="large-stand-out"><script>document.write(topGames.length)</script></p>
										</div>
										
									</div>
									<div class="column">
										<div class="box-icon" style="background: linear-gradient(10deg, green,blue);">
											<i class="icon fa-clock-o" style="font-size: 70px; line-height: 86px;"></i>
										</div>
										<div style="flex: 1">
											<p style="font-size: 15px; margin-top: 0px;">Total hours played:</p>
											<p class="large-stand-out"><%= totalHours %></p>
										</div>
									</div>
								</div>
								<h2>Top 3 games:</h2>
								<div class="row">
									<script>
										function time(num) {
											if(num < 0) return n;
											if(num == 0) return "no"

											var hours = Math.floor(num / 3600);
											var minutes = Math.floor(num % 3600 / 60);
											var seconds = Math.floor(num % 3600 % 60);
											
											var h = ""
											if(hours == 1) h = "1 hour"
											if(hours > 1) h = `${hours} hours`
											var m = ""
											if(minutes == 1) m = "1 minute"
											if(minutes > 1) m = `${minutes} minutes`
											var s = ""
											if(seconds == 1) s = "1 second"
											if(seconds > 1) s = `${seconds} seconds`
											var and = ""
											if(seconds > 0) {
												if(minutes > 0 || hours > 0) and = " and "
											}
											var comma = ""
											if(hours > 0) comma = ", "
											if(seconds < 1 && hours > 0) comma = " and "
											
											return h + comma +  m + and + s
										}
										function format(i) {
											var str = '<div class="column">\n'
											// Icon
											if(topGames[i].iconURL) str += '<div><img src=\'' + topGames[i].iconURL + '\' style="width: 50px;" align="left" vertical-align="middle"></div>\n'
											// Game name / time
											str += '<div style="flex: 1"><p class="game">' + topGames[i].game + '</p>\n<p class="time">' + time(topGames[i].time) + '</p></div>'

											str += '</div>'

											document.write(str)
										}
										format(0)
										format(1)
										format(2)
									</script>
								</div>
								<script type="text/javascript">
									// Load google charts
									google.charts.load('current', {'packages':['corechart']});
									google.charts.setOnLoadCallback(drawChart);
									function drawChart() {
										var data = [["Game", "Hours"]];
										var count = 0;
										topGames.forEach(function(obj) {
											if(count < 6) {
												data.push([obj.game, Math.round(obj.time / 3600)])
											}
											count++;
										})
										data = google.visualization.arrayToDataTable(data);
										var chart = new google.visualization.PieChart(document.getElementById('piechart'));
										var options = {
											'title':'Played games',
											'width':'100%',
											'height':400,
											'is3D': true
										};

										var formatter = new google.visualization.NumberFormat(
											{suffix: ' hours', fractionDigits: 0});
										formatter.format(data, 1);

										chart.draw(data, options);
									}
								</script>
								<div id="piechart" style="width: 100%"></div>
								<table id="topGamesTable" class="display" >  
										<thead> 
										<tr>
											<th>Place</th>  
											<th>Game</th>  
											<th>Time played</th>
										</tr>
										</thead>
										<tbody>
										</tbody>
								</table>

								<h2 style="margin-bottom: 0px;">Most gamingful days</h2>
								<div id="gamingfulDays">
									<i>Based on <%= user.username %>'s gaming behavior of the last 4 weeks</i>
									<table id="topDaysTable" class="display" >  
											<thead> 
											<tr>
												<th>Place</th>
												<th>Day</th>
												<th>Average gaming time per day</th>
											</tr>
											</thead>
											<tbody>
												
											</tbody>
									</table>
								</div>
								<script>
									function removeSince() {
										window.location = window.location.href.split('?')[0];
									}
									$(document).ready(function(){
										var table = $("#topGamesTable").find('tbody')
										topGames.forEach(function(obj, i) {
											i = i + 1;
											table.append( "<tr>\n<td>" + i + "</td>\n<td>" + obj.game + "</td>\n<td>" + time(obj.time) + "</td>\n\n</tr>\n");
										})
										$('#topGamesTable').DataTable( {
											bLengthChange: false,
											bInfo: false,
											bSort: false,
											searching: false
										});
										if(!since) {
											var table = $("#topDaysTable").find('tbody')
											topDays.forEach(function(obj, i) {
												i = i + 1;
												table.append( "<tr>\n<td>" + i + "</td>\n<td>" + obj.day + "</td>\n<td>" + time(obj.time) + "</td>\n</tr>\n");
											})
											$('#topDaysTable').DataTable({
												bLengthChange: false,
												bInfo: false,
												bSort: false,
												searching: false,
												paging: false
											});
										} else {
											$("#gamingfulDays").html("<p>Only available <a onclick='return removeSince()'>without since date</a> specified</p>");
										}
									});
								</script>
							</section>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="/images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="/images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="/images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
			
	</body>
</html>
