<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Server Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="shortcut icon" type="image/png" href="/favicon.png"/>

		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery.scrollex.min.js"></script>
		<script src="/js/jquery.scrolly.min.js"></script>

		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

		<script src="/js/selectize.min.js"></script>
		<link href="/css/selectize.css" rel="stylesheet" />

		<script>
			var since = "<%= since || undefined %>";
			var games = [
				<% games.forEach(function(game) { %>
					"<%- game %>",
				<% }) %>
			]; 
			var topUsers = [
				<% topUsers.forEach(function(user) { %>
					{userID: <%- user.userID %>, username: "<%- user.username %>", time: <%- user.time %>},
				<% }) %>
			];
		</script>
	</head>
	<body style="color: black">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include ../partials/nav %>
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2><%= guild.name %></h2>
						</header>
						<section class="wrapper style5" style="padding-top: 3em;">
							<div class="inner">
							<section style="position: relative">
								<%# FILTER SETTINGS %>
								<form action="" id="filterForm" style="margin-bottom: 20px">
									<div style="margin-bottom: 20px">
										<p style="margin-bottom: 0px"><strong>Since filter:</strong></p>
										<input type="date" name="since" style="color: black" onchange="this.form.submit()">
									</div>

									<div>
										<p style="margin-bottom: 0px"><strong>Select game:</strong></p>
										<div style="display: flex; align-items: center">
											<select name="game" id="gameSelect" style="width: 80%;">
												<option id="noGame" value="" disabled>-- Select game --</option>
											</select>
											<a class="no-stripe" onclick="clearGame()" style="cursor: pointer"><i class="fa fa-times-circle" style="margin-left: 10px; margin-bottom: 15px;"></i></a>
										</div>
									</div>
								</form>

								<script>
									var today = new Date().toISOString().split('T')[0];
									var inputs = document.getElementsByName("since");
									inputs.forEach(function(input) {
										input.setAttribute('max', today);
										input.value = since;
									})
									
									games.forEach(function(currGame) {
										if(currGame == "<%= game %>") {
											$("#gameSelect").append(new Option(currGame, currGame, true, true))
										} else {
											$("#gameSelect").append(new Option(currGame, currGame))
										}
									})
									var select = $('#gameSelect').selectize({
										sortField: 'text'
									});
									var selectize = select[0].selectize

									selectize.on('change', function(value) {
										if(value == "") return;
										$("#filterForm").submit()
									})

									function clearGame() {
										console.log("Cleared")
										window.location.href = "/server/<%-guild.id%>?since=" + since
									}

								</script>

								<% if(manageServer) { %>
									<% include ../partials/server-privacy %>
								<% } %>

								<%# SERVER INFO %>
								<div class="flex-row">
									<div class="column gray-box">
										<div>
											<% if(guild.icon) { %>
												<img class="box-icon no-border" src="<%= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.png` %>">
											<% } else {  %>
												<img class="box-icon no-border" src="https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/05/9c/af/059caf3b-115a-1fca-1419-89ec1463d0ab/source/1200x630bb.jpg">
											<% } %>
										</div>
										<div style="margin-left: 10px">
											<p style="font-size: 20px;"><%=guild.name%></p>
										</div>
										
									</div>
									<div class="column gray-box">
										<% if(iconURL) { %>
										<div>
											<img src="<%= iconURL %>" style="width: 60px; height: 60px;">
										</div>
										<% } %>
										<div style="flex: 1">
											<p style="font-size: 15px;">Selected game:</p>
											<p class="large-stand-out"><%= game %></p>
										</div>
										
									</div>
									<div class="column gray-box">
										<div class="box-icon" style="background: linear-gradient(10deg, green,blue);">
											<i class="icon fa-clock-o" style="font-size: 60px; line-height: 68px;"></i>
										</div>
										<div style="flex: 1">
											<p style="font-size: 15px; margin-top: 0px;">Total hours played:</p>
											<p class="large-stand-out"><%= totalHours %></p>
										</div>
									</div>
								</div>

								<%# GAME TRENDING CHART %>
								<h2 style="margin-top: 20px; margin-bottom: 10px;">Trending chart:</h2>
								<% if(gameChart.length > 2) { %>
									<%
										function formatDate(date) {
											var monthNames = [
											"January", "February", "March",
											"April", "May", "June", "July",
											"August", "September", "October",
											"November", "December"
											];
										
											var day = date.getDate();
											var monthIndex = date.getMonth();
											var year = date.getFullYear();
										
											return day + ' ' + monthNames[monthIndex] + ' ' + year;
										}
									%>
									Day 1 = <code><%- formatDate(startDate) %></code><br>
									Day <%= gameChart.pop().day %> = <code>today</code>
									<div id="trendingChart"></div>
									<script>
										google.charts.load('current', {packages: ['corechart', 'line']});
										google.charts.setOnLoadCallback(drawBasic);

										function drawBasic() {
											var data = new google.visualization.DataTable();
											data.addColumn('number', 'Day');
											data.addColumn('number', 'Time');
											data.addRows([
												<% gameChart.forEach(function(obj) { %>
													[<%- obj.day %>, <%- obj.time %>],
												<% }) %>
											])

											var options = {
												hAxis: {
													title: 'Day'
												},
												vAxis: {
													title: 'Popularity',
													viewWindowMode: "explicit",
													viewWindow:{ min: 0 }
												}
											};

											var chart = new google.visualization.LineChart(document.getElementById('trendingChart'));

											chart.draw(data, options);
											}
									</script>
								<% } else { %>
									<p>Not enough user data to display chart</p>
								<% } %>

								<%# TOP USERS %>
								<h2>Top users:</h2>
								<i>Only includes users with public profiles</i><br>
								<i>Note: this data was retrieved from the playtime table, it may deviate from other page information</i>
								<table id="topUsersTable" class="display" >  
									<thead> 
										<tr>
											<th>Place</th>  
											<th>User</th>  
											<th>Time played</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>

								<script>
									function time(num) {
										if(num < 0) return n;
										if(num == 0) return "no"

										var hours = Math.floor(num / 3600);
										var minutes = Math.floor(num % 3600 / 60);
										var seconds = Math.floor(num % 3600 % 60);
										
										var h = ""
										if(hours == 1) h = "1 hour"
										if(hours > 1) h = `${hours} hours`
										var m = ""
										if(minutes == 1) m = "1 minute"
										if(minutes > 1) m = `${minutes} minutes`
										var s = ""
										if(seconds == 1) s = "1 second"
										if(seconds > 1) s = `${seconds} seconds`
										var and = ""
										if(seconds > 0) {
											if(minutes > 0 || hours > 0) and = " and "
										}
										var comma = ""
										if(hours > 0) comma = ", "
										if(seconds < 1 && hours > 0) comma = " and "
										
										return h + comma +  m + and + s
									}

									function removeSince() {
										window.location = window.location.href.split('?')[0];
									}
									var table = $("#topUsersTable").find('tbody')
									topUsers.forEach(function(obj, i) {
										i = i + 1;
										table.append( "<tr><td>" + i + "</td><td>" + obj.username + "</td><td>" + time(obj.time) + "</td></tr>");
									})
									$('#topUsersTable').DataTable( {
										bLengthChange: false,
										bInfo: false,
										searching: false
									});
								</script>

							</section>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="/images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="/images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="/images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
			
	</body>
</html>
