<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimePlayed - Server dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dashboard/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dashboard/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/dashboard/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- At.js -->
    <script src="/dashboard/js/jquery.caret.min.js" type="text/javascript"></script>
    <script src="/dashboard/js/jquery.atwho.min.js" type="text/javascript"></script>
    <link href="/dashboard/css/jquery.atwho.css" rel="stylesheet" type="text/css">

    <script>
        $(document).ready(function() {
            window.onbeforeunload = confirmExit;
                function confirmExit() {
                if ($('#unsaved').hasClass("open") && premium) {
                    return true;
                }
            }
        });
        function mmd(src) {
            var h='';

            function escape(t)
            {
                return new Option(t).innerHTML;
            }
            function inlineEscape(s)
            {
                return escape(s)
                    .replace(/!\[([^\]]*)]\(([^(]+)\)/g, '<img alt="$1" src="$2">')
                    .replace(/\[([^\]]+)]\(([^(]+)\)/g, '$1'.link('$2'))
                    .replace(/```([^`]+)```/g, '<pre>$1</>')
                    .replace(/`([^`]+)`/g, '<code>$1</code>')
                    .replace(/(\*\*|__)(?=\S)([^\r]*?\S[*_]*)\1/g, '<strong>$2</strong>')
                    .replace(/(\*|_)(?=\S)([^\r]*?\S)\1/g, '<em>$2</em>');
            }

            src
            .replace(/^\s+|\r|\s+$/g, '')
            .replace(/\t/g, '    ')
            .split(/\n\n+/)
            .forEach(function(b, f, R)
            {
                f=b[0];
                R=
                {
                }[f];
                h+=
                    R?R[1]+('\n'+b)
                        .split(R[0])
                        .slice(1)
                        .map(R[3]?escape:inlineEscape)
                        .join(R[3]||'</li>\n<li>')+R[2]:
                    f=='#'?'<h'+(f=b.indexOf(' '))+'>'+inlineEscape(b.slice(f+1))+'</h'+f+'>':
                    f=='<'?b:
                    '<p>'+inlineEscape(b)+'</p>';
            });
            return h;
        }
        
        var premium = <%= premium %>;
    </script>

    <style>

        /* Slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            margin: 0px;
        }

        .switch input {display:none;}

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
        
        

        /* Leaderboard preview */

        .leaderboard-preview {
            background-color: #36393f;
            color: #fff;
            font-family: Arial, Helvetica, sans-serif;
            padding: 10px;
            margin-left: 20px;
            border-radius: 10px;
        }
        .bot-icon img {
            width: 45px;
            border-radius: 50%;
        }

        .leaderboard-preview .username {
            color: #fc7805;
            margin-bottom: 3px;
            top: 10px;
        }

        .bot-icon {
            margin-left: 10px;
            float: left;
            width: 60px;
        }

        .preview-content {
            white-space: pre-wrap;
            width: 90%;
        }
        .preview-content img {
            width: 25px;
            margin-left: 3px;
        }

        .column {
            float: left;
        }

        .mention {
            color: #6082da
        }
        .mention:hover {
            color: #6082da
        }
        .mention:active {
            color: #6082da
        }
        .mention:visited {
            color: #6082da
        }

        #leaderboard-preview code {
            color: #dcddde;
            background-color: #2f3136;
        }

        #leaderboard-preview pre {
            color: #dcddde;
            background-color: #2f3136;
            border: 0px;
        }
    </style>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ./partials/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-md-12"><h1 class="page-header">Dashboard</h1></div>
                <div class="col-md-6" style="width: 40%">
                    <div class="panel">
                        <div class="panel-body">
                            <div id="response"></div>
                            <form id="form" action="/set-config" method="post" role="form">
                                <input class="form-control" name="guildID" type="hidden" value="<%= id %>">
                                Ranking channel:
                                <select name="rankingChannel" style="width:60%" class="form-control">
                                    <option value="" selected disabled>- Select channel -</option>
                                    <% for(var i=0; i < channels.length; i++) { %>
                                        <%
                                        selected = "";
                                        if(channels[i].id == guildConf.rankingChannel) {
                                            selected = "selected";
                                        } %>
                                        <option value="<%= channels[i].id %>"<%= selected %>>#<%= channels[i].name %></option>
                                    <% } %>
                                </select>
                                <strong>Please make sure TimePlayed has read/write/manage messages permissions in the channel you selected, otherwise the leaderboard won't be sent</strong>
                                <br><br>
                                
                                <div style="width: 500px" class="column">
                                Leaderboard layout:
                                <textarea style="resize: none" maxlength="1500" name="leaderboardLayout" rows="24" class="form-control" id="leaderboardLayout"><%= guildConf.leaderboardLayout %></textarea>
                                <button type="button" class="btn btn-default" name="default-leaderboard" onclick="template(this)">Default</button>
                                <button type="button" class="btn btn-default" name="template-mentions" onclick="template(this)">Mentions</button>
                                <button type="button" class="btn btn-default" name="template-emojis" onclick="template(this)">Emojis</button>
                                <button type="button" class="btn btn-default" name="template-code" onclick="template(this)">Code</button>
                                <h3>No more users played (...) text</h3>
                                Daily:
                                <input name="leaderboardNoMoreToday" type="text" class="form-control" value="<%= guildConf.leaderboardNoMoreToday %>"maxlength="60">
                                Weekly:
                                <input name="leaderboardNoMoreWeek" type="text" class="form-control" value="<%= guildConf.leaderboardNoMoreWeek %>"maxlength="60">
                                Always:
                                <input name="leaderboardNoMoreAlways" type="text" class="form-control" value="<%= guildConf.leaderboardNoMoreAlways %>"maxlength="60">

                                <h3>No one played (...) text</h3>
                                Daily:
                                <input name="leaderboardNoToday" type="text" class="form-control" value="<%= guildConf.leaderboardNoToday %>"maxlength="60">
                                Weekly:
                                <input name="leaderboardNoWeek" type="text" class="form-control" value="<%= guildConf.leaderboardNoWeek %>"maxlength="60">
                                Always:
                                <input name="leaderboardNoAlways" type="text" class="form-control" value="<%= guildConf.leaderboardNoAlways %>"maxlength="60">

                                </div>
                            </form>
                            <% if(!premium) { %>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">Premium feature</h4>
                                            </div>
                                            <div class="modal-body">
                                                The leaderboard feature requires your server to have TimePlayed Premium. You can still view this page, and try the editor out but you can't save your changes. If you want to use the leaderboard feature please consider <a href="https://www.patreon.com/TimePlayed" target="_BLANK">donating</a> (choose the TimePlayed Premium plan for leaderboards).
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                                <script>
                                    $(document).ready(function() {
                                        $("#myModal").modal("show");
                                    });    
                                </script>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    Enable live preview<br>
                    <label style="margin-left: 10px" class="switch">
                        <input id="enablePreview" type="checkbox" checked>
                        <span class="slider round"></span>
                    </label><br>

                    <div class="leaderboard-preview" id="preview-div" style="display: flex">
                        <div class="bot-icon" style="height: 100%; width: 60px" class="column">
                            <img src="https://images.discordapp.net/avatars/433625399398891541/e637865765e77d8a4e0358c98fd2516d.png?size=512"/>
                        </div>
                        <div class="preview-content" class="column"><p class="username"><strong>TimePlayed</strong><img src="/images/bot.png"/></p><span class="content" id="leaderboard-preview"></span></div>
                    </div>
                </div>
                <script>
                    function updatePreview() {
                        if(enablePreview) {
                            var html = mmd($jqName.val())
                            $jqValue.html(replacePreview(html));
                        }
                    }
                    var enablePreview = true;
                    var replaceValues = [
                        // general info
                        ["%serverName%", "<%= guilds.filter(function(e) {return e.id == id})[0].name %>"],
                        ["%game%", "<%= guildConf.defaultGame %>"],
                        ["%updatedAt%", new Date().toUTCString()],
                        ["%joinedAgo%", "approximately 6 months ago"],
                        ["%joinedAt%", new Date().toUTCString()],
                        // week
                        ["%weekly1-name%", "Trump"],
                        ["%weekly2-name%", "Johnny"],
                        ["%weekly3-name%", "Hank"],
                        ["%weekly4-name%", "Ryan"],
                        ["%weekly5-name%", "Trevor"],
                        ["%weekly1-mention%", "<a href='#' class='mention'>@Trump</a>"],
                        ["%weekly2-mention%", "<a href='#' class='mention'>@Johnny</a>"],
                        ["%weekly3-mention%", "<a href='#' class='mention'>@Hank</a>"],
                        ["%weekly4-mention%", "<a href='#' class='mention'>@Ryan</a>"],
                        ["%weekly5-mention%", "<a href='#' class='mention'>@Trevor</a>"],
                        ["%weekly1-tag%", "5719"],
                        ["%weekly2-tag%", "6477"],
                        ["%weekly3-tag%", "4918"],
                        ["%weekly4-tag%", "9417"],
                        ["%weekly5-tag%", "8789"],
                        ["%weekly1-time%", "38 hours, 10 minutes and 50 seconds"],
                        ["%weekly2-time%", "32 hours, 46 minutes and 13 seconds"],
                        ["%weekly3-time%", "28 hours, 3 minutes and 54 seconds"],
                        ["%weekly4-time%", "23 hours, 46 minutes and 29 seconds"],
                        ["%weekly5-time%", "20 hours, 21 minutes and 40 seconds"],
                        // day
                        ["%daily1-name%", "Bo Nerr"],
                        ["%daily2-name%", "Robin Banks"],
                        ["%daily3-name%", "P. Ennis"],
                        ["%daily4-name%", "Tiny Cox"],
                        ["%daily5-name%", "MacDonald Berger"],
                        ["%daily1-mention%", "<a href='#' class='mention'>@Bo Nerr</a>"],
                        ["%daily2-mention%", "<a href='#' class='mention'>@Robin Banks</a>"],
                        ["%daily3-mention%", "<a href='#' class='mention'>@P. Ennis</a>"],
                        ["%daily4-mention%", "<a href='#' class='mention'>@Tiny Cox</a>"],
                        ["%daily5-mention%", "<a href='#' class='mention'>@MacDonald Berger</a>"],
                        ["%daily1-tag%", "1536"],
                        ["%daily2-tag%", "8750"],
                        ["%daily3-tag%", "8849"],
                        ["%daily4-tag%", "1152"],
                        ["%daily5-tag%", "1925"],
                        ["%daily1-time%", "6 hours, 30 minutes and 19 seconds"],
                        ["%daily2-time%", "4 hours, 51 minutes and 21 seconds"],
                        ["%daily3-time%", "4 hours, 30 minutes and 4 seconds"],
                        ["%daily4-time%", "2 hours, 52 minutes and 26 seconds"],
                        ["%daily5-time%", "45 minutes and 51 seconds"],
                        // always
                        ["%always1-name%", "Dixie Normous"],
                        ["%always2-name%", "Jack Goff"],
                        ["%always3-name%", "Donald Duck"],
                        ["%always4-name%", "Ann Dye"],
                        ["%always5-name%", "Maya Hee"],
                        ["%always1-mention%", "<a href='#' class='mention'>@Dixie Normous</a>"],
                        ["%always2-mention%", "<a href='#' class='mention'>@Jack Goff</a>"],
                        ["%always3-mention%", "<a href='#' class='mention'>@Donald Duck</a>"],
                        ["%always4-mention%", "<a href='#' class='mention'>@Ann Dye</a>"],
                        ["%always5-mention%", "<a href='#' class='mention'>@Maya Hee</a>"],
                        ["%always1-tag%", "4316"],
                        ["%always2-tag%", "9050"],
                        ["%always3-tag%", "6201"],
                        ["%always4-tag%", "7800"],
                        ["%always5-tag%", "4047"],
                        ["%always1-time%", "102 hour, 17 minutes and 3 seconds"],
                        ["%always2-time%", "98 hour, 32 minutes and 50 seconds"],
                        ["%always3-time%", "80 hour, 28 minutes and 12 seconds"],
                        ["%always4-time%", "77 hour, 41 minutes and 17 seconds"],
                        ["%always5-time%", "68 hour, 49 minutes and 38 seconds"]
                    ]
                    var vars = []
                    replaceValues.forEach(function(arr) {
                        vars.push(arr[0].replace("%", ""))
                    })
                    function replacePreview(str) {
                        replaceValues.forEach(function(arr) {
                            str = str.replace(arr[0], arr[1]);
                        })
                        return str;
                    }
                    var $jqName = $('#leaderboardLayout');
                    var $jqValue = $('#leaderboard-preview');
                    updatePreview();
                    $jqName.on('change input', function(event){
                        updatePreview();
                    });
                    
                    var $enablePreviewSlider = $('#enablePreview');
                    $enablePreviewSlider.on('input', function(event){
                        enablePreview = $enablePreviewSlider.is(":checked");
                        if(enablePreview) {
                            $jqValue.html(replacePreview($jqName.val()));
                            updatePreview();
                            $('#preview-div').fadeIn()
                        } else {
                            $('#preview-div').fadeOut()
                        }
                    });

                    $('textarea').atwho({
                        at: "%",
                        data:vars
                    })
                    $('input').atwho({
                        at: "%",
                        data:vars
                    })
                    
                    function FileHelper(pathOfFileToReadFrom) {
                        var request = new XMLHttpRequest();
                        request.open("GET", pathOfFileToReadFrom, false);
                        request.send(null);
                        var returnValue = request.responseText;
                        return returnValue;
                    }
                    function template(element) {
                        document.getElementById("leaderboardLayout").value = FileHelper( "/plain/" + element.name + ".txt" );
                        updatePreview();
                        saveText($('#leaderboardLayout')[0]);
                    }
                </script>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row" style="margin-bottom: 100px">
                <div class="panel">
                    <div class="panel-body">
                        <h2>Leaderboard styling</h2>
                        <div class="col-md-6">
                            <h3>Markdown</h3>
                            <strong>The standard Discord markdown rules also apply to the custom leaderboards:</strong>
                            <table style="width: auto;" class="table table-striped table-bordered table-hover">
                                <tr>
                                    <td><i>Italics</i></td>
                                    <td>*italics* or _italics_</td>
                                </tr>
                                <tr>
                                    <td><strong>Bold</strong></td>
                                    <td>**bold**</td>
                                </tr>
                                <tr>
                                    <td><strong><i>Bold Italics</i></strong></td>
                                    <td>***bold italics***</td>
                                </tr>
                                <tr>
                                    <td><span style="text-decoration: underline">Underline</span></td>
                                    <td>__Underline__</td>
                                </tr>
                                <tr>
                                    <td><span style="text-decoration: underline"><strong>Underline bold</strong></span></td>
                                    <td>__**underline bold**__</td>
                                </tr>
                                <tr>
                                    <td><i><span style="text-decoration: underline"><strong>Underline bold italics</strong></span></i></td>
                                    <td>__***underline bold italics***__</td>
                                </tr>
                                <tr>
                                    <td><s>Strikeghrough</s></td>
                                    <td>~~strikethrough~~</td>
                                </tr>
                                <tr>
                                    <td><code>Code</code></td>
                                    <td>`code`</td>
                                </tr>
                                <tr>
                                    <td><code>Multi line code</code></td>
                                    <td>```multi line code```</td>
                                </tr>
                            </table>
                            Take a look at <a href="https://support.discordapp.com/hc/en-us/articles/210298617-Markdown-Text-101-Chat-Formatting-Bold-Italic-Underline-" target="_BLANK">Discord's markdown tutorial</a> for more information.
                        </div>
                        <div class="col-md-6">
                            <h3>Variables</h3>
                            <p><strong>In the text area above, you can use variables, formatted as:</strong><br>
                            <code>%(weekly|daily|always)[1-5]-(name|mention|tag|time)%</code><br></p>
                            <p>This may seem a bit cryptic, so here are some examples:
                            <ul>
                                <li>If I want the <strong>name</strong> of the user placed <strong>first</strong> on the <strong>daily</strong> leaderboard, I would use: <code>%daily1-name%</code></li>
                                <li>If I want the <strong>time</strong> the user placed <strong>third</strong> on the <strong>weekly</strong> leaderboard, I would use: <code>%weekly3-time%</code>. This would result in something like: <code> 3 hours, 33 minutes and 10 seconds</code></li>
                            </ul>
                            It's actually quite easy, right?
                            </p>
                            <h3>Emojis</h3>
                            <p>You can also use emojis in the leaderboard (for example, a 👑 emoji after the first placed user).</p>
                            <p>There are 2 ways to insert emojis into your leaderboard:
                            <ul>
                                <li>You can simply copy your emoji from <a href="https://emojipedia.org/" target="_BLANK">Emojipedia</a>, and paste it in the leaderboard text area</li>
                                <li>Alternitavely, you can use Discord's emoji formatting, insert the emoji into your Discord message field and copy/paste it into the leaderboard text area</li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <% include ./partials/save-changes %>
            <script>
                $('textarea, input').on('input', function() {
                    if(this.id == "enablePreview") return;
                    saveText(this);
                })
                $('select').on('change', function() {
                    saveSelect(this);
                })
                $('#reset').on('click', function() {
                    resetAll();
                })
                $('#confirm').on('click', function() {
                    if(premium) {
                        saveChanges(changed);
                    } else {
                        $("#myModal").modal("show");
                    }
                })
                $(window).bind('keydown', function(event) {
                    if (event.ctrlKey || event.metaKey) {
                        switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            saveChanges(changed);
                            break;
                        }
                    }
                })
            </script>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dashboard/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dashboard/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/dashboard/raphael/raphael.min.js"></script>
    <script src="/dashboard/morrisjs/morris.min.js"></script>
    <%# <script src="../data/morris-data.js"></script> %>

    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/js/sb-admin-2.js"></script>

</body>

</html>
