<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TimePlayed - Server dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="/dashboard/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/dashboard/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/dashboard/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/dashboard/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/dashboard/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        var awards = [
            <% for(var i=0; i < roleAwards.length; i++) { %>
                {
                    roleID: "<%= roleAwards[i].roleID %>",
                    game: "<%= roleAwards[i].game %>",
                    time: "<%= roleAwards[i].time %>",
                    per: "<%= roleAwards[i].per %>"
                },
            <% }%>
        ];
        var originalAwards = JSON.stringify(awards);

        var manageRoles = <%= manageRoles %>;

        function checkChanges() {
            if(originalAwards == JSON.stringify(awards)) {
                $('#unsaved').removeClass('open');
                $('#error-display').removeClass('open');
            } else {
                if(!$("#error-display").hasClass("open")) {
                    $('#unsaved').addClass('open');
                }
            }
        }
        function constructAwards() {
            var table = document.getElementById("roleAwards");
            var noAwardsMessage = document.getElementById("noRoleAwards");
            checkChanges();
            table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;
            awards.forEach(function(obj) {
                var row = table.insertRow(-1)
                var role = row.insertCell(0);
                var game = row.insertCell(1);
                var time = row.insertCell(2);
                var per = row.insertCell(3);
                var button = row.insertCell(4);
                var i = $('#roleAwards tr').length;
                id = i - 1;

                role.innerHTML = "<select class='form-control' id='roleID-" + id + "' name='roleID'><%- roleOptions %></select>";
                game.innerHTML = "<input class='form-control' id='game-" + id + "' name='game' type='text' value='" + obj.game + "'></input>";
                time.innerHTML = "<input class='form-control' id='time-" + id + "' name='time' type='text' value='" + obj.time + "'></input>";
                per.innerHTML = "<input class='form-control' id='per-" + id + "' name='per' type='text' value='" + obj.per + "'></input>";
                button.innerHTML = "<td><button type='button' title='Remove this role award' onclick='return removeAward(" + i + ")' class='btn btn-danger btn-circle'><i class='fa fa-minus'></i></button></td>";

                var options = role.firstChild;
                for(i = 0; i < options.length; i++) {
                    var option = options[i];
                    if(option.value == obj.roleID) {
                        option.defaultSelected = true;
                    }
                }
            })
            if(awards.length < 1) {
                var row = table.insertRow(-1)
                var col = row.insertCell(-1);
                col.innerHTML = "This server currently doesn't have any role awards! You can start by adding a role award with the green plus button beneath.";
            }
            checkErrors();
            logChanges();
        }

        function checkErrors() {
            var errors = 0;
            var inputs = $("input")
            $("input").each(function(i) {
                var input = inputs[i];
                if(input.name == "time" || input.name == "per") {
                    if(!input.value.match(/^[0-9]{1,2}[mhdw]$|^minute$|^hour$|^day$|^week$/)) {
                        $("#error-text").html('');
                        $('<p>Whoops! It looks like you have an error in one of your time formattings! Please double check the red outlined forms.</p>').appendTo('#error-text');
                        errors++;
                        $("#error-display").addClass("open");
                        input.style["border-color"] = "#c11f32";
                    } else {
                        input.style["border-color"] = "";
                    }
                }
            })
            var selects = $("select")
            $("select").each(function(i) {
                var select = selects[i];
                if(select.name == "roleID") {
                    var selected = [];
                    for(i = 0; i < selects.length; i++) {
                        if(selects[i].name != "roleID" || select.parentElement.parentElement.rowIndex == selects[i].parentElement.parentElement.rowIndex) {
                            continue;
                        }
                        selected.push(selects[i].value)
                    }
                    if(selected.includes(select.value) && select.value != "") {
                        $("#error-text").html('');
                        $('<p>Whoops! It looks like you have selected two roles at the same time! Please select another role in the red outlined forms.</p>').appendTo('#error-text');
                        errors++;
                        $("#error-display").addClass("open");
                        select.style["border-color"] = "#c11f32";
                    } else {
                        select.style["border-color"] = "";
                    }  
                }
            })
            if(errors == 0) {
                $("#error-display").removeClass("open")
            }
        }

        $(document).ready(function() {
            window.onbeforeunload = confirmExit;
                function confirmExit() {
                if ($('#unsaved').hasClass("open") || $('#error-display').hasClass("open")) {
                    if(manageRoles) return true;
                }
            }
        });
        $(window).bind('keydown', function(event) {
            if (event.ctrlKey || event.metaKey) {
                switch (String.fromCharCode(event.which).toLowerCase()) {
                case 's':
                    event.preventDefault();
                    if($("#error-display").hasClass("open")) {
                        $( "#error-text" ).effect( "shake" );
                    } else {
                        saveChanges();
                        break;
                    }
                }
            };
        })
        
        var errors = [];
        var premium = "<%= premium %>";
    </script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <% include ./partials/nav %>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                    <div id="response"></div>
                    <table class="table table-bordered" id="roleAwards">
                        <tr>
                            <th>Role</th>
                            <th>Game</th>
                            <th>Time</th>
                            <th>Per</th>
                        </tr>
                    </table>
                    <div id="noRoleAwards"></div>
                    <button type="button" class="btn btn-success btn-circle" title="Add a role award" onclick="return addAward()"><i class="fa fa-plus"></i></button>

                    <div class="alert alert-danger alert-dismissable" id="tooManyAwards" style="display: none; width: 1000px; margin-top: 10px">
                        <button type="button" id="closeTooMany" class="close" aria-hidden="true">×</button>
                        <div id="tooManyAwards-text"></div>
                    </div>
                    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h2>Role awards help</h2>
                    <h3>What are role awards?</h3>
                    <p>Role awards are awards for users when they reach a specific amount of playtime of a specific game. If they reach that specified amount, they will get a specified role awarded.<br>
                    On this page, you can easily edit your server's role awards. If you want to edit the role awards of another server, select the server on the left top corner of the page.</p>
                    <h3>Common errors</h3>
                    You will sometimes get an error displayed. The 2 most common errors and their solutions are:
                    <ul>
                        <li><code>"Whoops! It looks like you have an error in one of your time formattings!"</code><br>
                        This error will display when you use a wrong time formatting in the time or per column. Your time should be formatted as a number from 1-99, followed with "m", "h", "d", "w" or it should be "minute", "hour", "day" or "week".</li>
                        <li><code>"Whoops! It looks like you have selected two roles at the same time!"</code><br>
                        This error will display when you have 2 roles awards with the same roles. This simply isn't possible because the bot doesn't know what to do with two of the same roles, if this would be possible weird things would happen when assigning the roles. So please select a unique role for every role award!</li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h3>FAQ</h3>
                    <ul>
                        <li><strong>Q:</strong> Why can't I select the role I want? I can't click on it?<br>
                        <strong>A:</strong> Because of Discord's permission system, TimePlayed can only assign roles that are lower than the TimePlayed role. If you want to add a role that you currently can't select, go to your Discord server and move the TimePlayed role above the role you wish to add. Click on save changes, reload this page and you should be good to go!</li>
                        <li><strong>Q:</strong> Why can I only add 3 role awards?<br>
                        <strong>A:</strong> Because the role awards take up a lot of hosting capacity. As you probably already saw in the error, with <a href="https://www.patreon.com/TimePlayed" target="_BLANK">TimePlayed Premium</a> you can add up to 10 role awards.
                        <li><strong>Q:</strong> How can I add another role award?<br>
                        <strong>A:</strong> There's a beautiful green  <i class="fa fa-plus"></i>  button underneath the role awards table, you should definitely try that out.</li>
                        <li><strong>Q:</strong> How can I remove a role award?<br>
                        <strong>A:</strong> There's a red  <i class="fa fa-minus"></i>  button to the right of every role award, so if you really wish to delete your award, try that button.</li>
                    </ul>
                </div>
                <% if(!manageRoles) { %>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">No <code>Manage Roles</code> permission!</h4>
                                </div>
                                <div class="modal-body">
                                    It looks like you didn't give TimePlayed the <code>Manage Roles</code> permission. Without this permission, the bot can't assign role award to users so this feature won't work. Please give the TimePlayed role the <code>Manage Roles</code> permission in the <code><%= guilds.filter(function(e) {return e.id == id})[0].name %></code>, and click the confirm button beneath to refresh the page.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" onclick="return location.reload()">I gave TimePlayed the Manage Roles permission    </button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <script>
                        $(document).ready(function() {
                            $("#myModal").modal("show");
                        });
                    </script>
                <% } %>
            </div>

            <% include ./partials/save-changes %>

            <div class="unsaved transition" style="background-color: #c11f32" id="error-display">
                <div class="unsaved-text" id="error-text"></div>
                <div class="unsaved-buttons">
                    <button class="cancel" style="background-color: #727272;" id="reset-2" type="button">Reset changes</button>
                </div>
            </div>
            
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="/dashboard/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/dashboard/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/dashboard/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/dashboard/raphael/raphael.min.js"></script>
    <script src="/dashboard/morrisjs/morris.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/dashboard/js/sb-admin-2.js"></script>
    <script>
        constructAwards();
        function addAward() {
            if(awards.length > 2 && !premium) {
                $("#tooManyAwards-text").html("<strong>Error:</strong> you can only add 3 role awards when you don't have TimePlayed premium. To add more awards, please check out my <a href='https://www.patreon.com/TimePlayed' target='_BLANK' class='alert-link'>Patreon page</a> and consider donating.")
                $("#tooManyAwards").show();
                $("#closeTooMany").on("click", function() {
                    $("#tooManyAwards").hide();
                })
            } else if(awards.length > 9) {
                $("#tooManyAwards-text").html("<strong>Error:</strong> you can only add a maximum of 10 role awards! If you really wish to add more, please contact me in the <a href='http://support.timeplayed.xyz' target='_BLANK'>support server</a> and maybe I will make an exception.")
                $("#tooManyAwards").show();
                $("#closeTooMany").on("click", function() {
                    $("#tooManyAwards").hide();
                })
            } else {
                awards.push({game: "<%= guildConf.defaultGame %>", time: "1h", per: "week"})
                constructAwards();
            }
            
        }
        function removeAward(i) {
            awards.splice(i - 2,1)
            constructAwards();
            $("#tooManyAwards").hide();
        }
        function logChanges() {
            $('input').on('input', function() {
                checkErrors()
                awards[this.parentElement.parentElement.rowIndex - 1][this.name] = this.value;
                checkChanges();
            })
            $('select').on('change', function() {
                checkErrors();
                awards[this.parentElement.parentElement.rowIndex - 1][this.name] = this.value;
                checkChanges();
            })
        }
        function saveChanges() {
            if(manageRoles) {
                if(awards.length < 1) awards = ["remove"]
                document.getElementById("confirm-loading").style.display = "inline-block";
                document.getElementById("confirm-text").style.display = "none";
                $.ajax({
                    url : "/set-config",
                    type: "POST",
                    data: {awards: awards, guildID: "<%= id %>"},
                    success: function (data) {
                        document.getElementById("confirm-loading").style.display = "none";
                        document.getElementById("confirm-text").style.display = "inline-block";
                        $("#response").html(data);
                        $('#unsaved').removeClass('open');
                        originalAwards = JSON.stringify(awards);
                    }
                });
            } else {
                $("#myModal").modal("show");
            }
        }

        $('#reset').on('click', function() {
            awards = JSON.parse(originalAwards);
            constructAwards();
            $("#tooManyAwards").hide();
        })
        $('#reset-2').on('click', function() {
            checkChanges();
            awards = JSON.parse(originalAwards);
            constructAwards();
            $("#tooManyAwards").hide();
        })
        $('#confirm').on('click', function() {
            saveChanges();
        })
    </script>

</body>

</html>
