<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand fa fa fa-arrow-circle-left"></a>
        <a class="navbar-brand" href="/dashboard">TimePlayed Dashboard</a>
    </div>
    <!-- /.navbar-header -->

    <script>
       function refreshGuilds() {
           $("#loadingSpinner").addClass("fa-spin")
            $.ajax({
                url : "/update-info",
                type: "POST",
                success: function (data) {
                    location.reload();
                }
            });
        }
    </script>

    <ul class="nav navbar-top-links navbar-right">
        <li>
        <% if (guilds) { %>
        <a href='/logout?redirect=<%= encodeURIComponent(url) %>'>Sign out</a>
        <% } else { %>
            <a href='/login?redirect=<%= encodeURIComponent(url) %>'>Sign in</a>
        <% } %>
        </li>
    </ul>

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search">
                    <div class="input-group custom-search-form">
                        <script>
                            function process() {
                                var guildID = document.getElementById("guildID").value;
                                var url = "<%= url %>";
                                var regex = /[0-9]{17,18}/gi;
                                url = url.replace(regex, guildID)
                                if(!regex.test(url)) url += guildID;
                                location.href=url;
                                return false;
                            }
                        </script>
                        <% if (guilds) { %>
                            <select class="form-control" name="guild" onchange="return process()" id="guildID">
                                <%
                                    noServerStr = ""
                                    if(typeof id === 'undefined') {
                                        noServerStr = "selected"
                                    }
                                %>
                                <option value="select_server" <%= noServerStr %> disabled>- Select server -</option>
                                <% for(var i=0; i < guilds.length; i++) { %>
                                    <%
                                    selected = "";
                                    if(typeof id !== 'undefined' && guilds[i].id == id) {
                                        selected = "selected";
                                    } %>
                                    <option value="<%= guilds[i].id %>"<%= selected %>><%= guilds[i].name %></option>
                                <% } %>
                            </select>
                            <button onclick="refreshGuilds()"><i class="fa fa-refresh" id="loadingSpinner"></i></button>
                        <% } else { %>
                            <p>Please <a href="/login?redirect=<%= encodeURIComponent(url) %>">sign in</a> to select servers</p>
                        <% } %>
                    </span>
                    </div>
                    <!-- /input-group -->
                </li>
                
                <% if (typeof id !== 'undefined') { %>
                    <li>
                        <a href='/dashboard/<%= id %>'><i class='fa fa-home fa-fw'></i> Home</a>
                    </li>
                    <li>
                        <a href="/dashboard/<%= id %>/general"><i class='fa fa-cog fa-fw'></i> General settings</a>
                    </li>
                    <li>
                        <a href='/dashboard/<%= id %>/role-awards'><i class='fa fa-table fa-fw'></i> Role awards</a>
                    </li>
                    <li>
                        <a href='/dashboard/<%= id %>/leaderboard'><i class='fa fa-list fa-fw'></i> Leaderboard</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>