<!DOCTYPE HTML>
<!--
	Spectral by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>TimePlayed - Profiles</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="../assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/css/main.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<style>
			.flex-row {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: center;
			}

			.flex-column {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			.display-box {
				width: 380px;
				margin: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				border-radius: 10px;
				background-color: #333435;
				color: white;
				display: flex;
				align-items: center;
				justify-content: flex-start;
			}

			.display-box p {
				margin-bottom: 0px;
				color: white;
				text-align: center;
				line-height: 25px;
			}

			.box-icon {
				border-radius: 50%;
				color: white;
				border: 5px solid
			}
		</style>
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">TimePlayed</a></h1>
						<% include('../partials/nav') %>
						
					</header>

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Profiles</h2>
						</header>
						<section class="wrapper style5" style="padding-top: 3em;">
							<div class="inner">
							<% if(userInfo) { %>
								<p>Welcome back to the profile page <%= userInfo.username %>! Click <a href="/profile/<%=userInfo.id%>">here</a> to visit/manage your own profile!
							<% } %>
								<div class="row" style="display: flex; justify-content: space-evenly;">
									<div class="col-6 flex-column">
										<h2>Hot games this week</h2>
									</div>
									<div class="col-6 flex-column">
										<h2>Hot games this month</h2>
									</div>
									<div class="col-6 flex-column">
										<h2>Random profiles</h2>
									</div>
								</div>
								<div class="row" style="display: flex; justify-content: space-evenly; align-items: flex-start">
									<div class="col-6 flex-column">
										<% for(i = 0; i < topGamesWeek.length; i++) { %>
											<div class="display-box">
												<div style="margin: 0px 20px;">
													<img src="<%= topGamesWeek[i].iconURL %>" style="width: 50px;">
												</div>
												<div>
													<p style="font-size: 20px; text-align: left"><span style="color: #adadad"><%= i + 1 %>.</span> <%=topGamesWeek[i].game%><br>
													<span style="font-size: 17px;">- players: <%=topGamesWeek[i].players%><br>
													- hours: <%=topGamesWeek[i].hours%></span></p>
												</div>
											</div>
										<% } %>
									</div>
									<div class="col-6 flex-column">
										<% for(i = 0; i < topGamesMonth.length; i++) { %>
											<div class="display-box">
												<div style="margin: 0px 20px;">
													<img src="<%= topGamesMonth[i].iconURL %>" style="width: 50px;">
												</div>
												<div>
													<p style="font-size: 20px; text-align: left"><span style="color: #adadad"><%= i + 1 %>.</span> <%=topGamesMonth[i].game%><br>
													<span style="font-size: 17px;">- players: <%=topGamesMonth[i].players%><br>
													- hours: <%=topGamesMonth[i].hours%></span></p>
												</div>
											</div>
										<% } %>
									</div>
									<div class="col-6 flex-column">
										<% for(i = 0; i < randomUsers.length; i++) { %>
											<div class="display-box">
												<div class="box-icon" style="margin: 0px 20px; width: 80px; height: 80px">
													<a href="/profile/<%=randomUsers[i].id%>" class="no-stripe">
													<% if(randomUsers[i].avatar) { %>
														<img src="<%= `https://cdn.discordapp.com/avatars/${randomUsers[i].id}/${randomUsers[i].avatar}.png` %>" style="width: 70px; height: 70px; border-radius: 50%;">
													<% } else {  %>
														<img src="https://is2-ssl.mzstatic.com/image/thumb/Purple122/v4/05/9c/af/059caf3b-115a-1fca-1419-89ec1463d0ab/source/1200x630bb.jpg" style="width: 70px; height: 70px; border-radius: 50%;">
													<% } %>
													</a>
												</div>
												<div>
													<a href="/profile/<%=randomUsers[i].id%>"><p style="font-size: 28px;"><%=randomUsers[i].username%><span style="font-size: 17px;">#<%=randomUsers[i].discriminator%></span></p></a>
												</div>
											</div>
										<% } %>
									</div>
								</div>
							</div>
						</section>
					</article>

				<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://discordbots.org/bot/433625399398891541?" target="_blank" class="no-stripe"><img src="../images/discordbots.png" style="width:30px"></a></li>
						<li><a href="http://support.timeplayed.xyz" target="_blank" class="no-stripe"><img src="../images/discord.png" style="width:30px"></a></li>
						<li><a href="https://www.patreon.com/TimePlayed" target="_blank" class="no-stripe"><img src="../images/patreon.png" style="width:30px"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Valentijn van Winden</li><li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
					</ul>
				</footer>

			</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="../assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>

	</body>
</html>
